body {
    background-color: #3a3a3a;
    color: #32cd32;
    font-family: monospace;
    font-size: 13px !important;
}

label.input-command-label {
    float: left;
    font-weight: unset;
}

input.input-command,
input.input-command:focus {
    font-size: 13px;
    padding: 0 0 0 3px;
    height: auto;
    background-color: #3a3a3a;
    color: #FFFFFF;
    border: none;
    outline: none;
    border-bottom: 1px solid #CD853F;
    border-radius: unset;
    width: 50%;
}

h1 {
    margin: 0 0 5px 0;
}
h2 {
    font-weight: normal;
    font-style: italic;
}

.prompt {
    margin-top: 15px;
}
.result {
    margin-top: 15px;
    color: #FFFFFF;
}

.text-base,
.font-white {
    color: #FFFFFF;
}

.text-head,
.font-brown {
    color: #CD853F;
}

a:link,
a:visited,
a:hover,
.text-name,
.font-green {
    color: #32cd32;
}

.font-black {
    color: #000000;
}

.i-am-root {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    line-height: 22px;
    overflow-x: hidden;
    white-space: pre;
}

div.welcome {
    float: left;
}

div.list {
    margin-top: 15px;
}

div.help-usage {
    margin-top: 5px;
}

div.help-content {
    margin-top: 5px;
    margin-left: 10px;
}

.app {
    margin: 15px;
}