body {
    background-color: #3a3a3a;
    color: #32cd32;
    font-family: monospace;
    font-size: 13px !important;
}

form {
    display: inline-flex;
}

input {
    font-size: 13px;
    margin-top: 14px;
    margin-left: 5px;
    padding-left: 3px;
    background-color: #3a3a3a;
    color: #FFFFFF;
    border: none;
    outline: none;
    border-bottom: 1px solid #CD853F;
}

.user {
    margin-top: 15px;
}

.result {
    color: #FFFFFF;
}

.text-base,
.font-white {
    color: #FFFFFF;
}

.text-head,
.font-brown {
    color: #CD853F;
}

.text-name,
.font-green {
    color: #32cd32;
}

.font-black {
    color: #000000;
}

div.header {
    display: -webkit-box;
}

pre.i-am-root {
    float: left;
    font-size: 20px;
    font-weight: bold;
    padding: 0 25px;
    text-align: center;
    line-height: 22px;
    overflow-x: hidden;
    color: #32cd32;
    margin: 0;
}

div.welcome {
    float: left;
    padding: 0 25px;
}

pre.i-am-root > span {
    display: -webkit-box;
}